<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Inter", sans-serif;
    }

    .formbold-mb-5 {
      margin-bottom: 20px;
    }

    .formbold-pt-3 {
      padding-top: 12px;
    }

    .formbold-main-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }

    .formbold-form-wrapper {
      margin: 0 auto;
      max-width: 550px;
      width: 100%;
      background: white;
    }

    .formbold-form-label {
      display: block;
      font-weight: 500;
      font-size: 16px;
      color: #07074d;
      margin-bottom: 12px;
    }

    .formbold-form-label-2 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .formbold-form-input {
      width: 100%;
      padding: 12px 24px;
      border-radius: 6px;
      border: 1px solid #e0e0e0;
      background: white;
      font-weight: 500;
      font-size: 16px;
      color: #6b7280;
      outline: none;
      resize: none;
    }

    .formbold-form-input:focus {
      border-color: #6a64f1;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .formbold-btn {
      text-align: center;
      font-size: 16px;
      border-radius: 6px;
      padding: 14px 32px;
      border: none;
      font-weight: 600;
      background-color: #6a64f1;
      color: white;
      cursor: pointer;
    }

    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .formbold--mx-3 {
      margin-left: -12px;
      margin-right: -12px;
    }

    .formbold-px-3 {
      padding-left: 12px;
      padding-right: 12px;
    }

    .flex {
      display: flex;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }

    .w-full {
      width: 100%;
    }

    label {
      padding: auto;
      font-size: larger;
    }

    .formbold-file-input input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .formbold-file-input label {
      position: relative;
      border: 1px dashed #e0e0e0;
      border-radius: 6px;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      text-align: center;
    }

    .formbold-drop-file {
      display: block;
      font-weight: 600;
      color: #07074d;
      font-size: 20px;
      margin-bottom: 8px;
    }

    .formbold-or {
      font-weight: 500;
      font-size: 16px;
      color: #6b7280;
      display: block;
      margin-bottom: 8px;
    }

    .formbold-browse {
      font-weight: 500;
      font-size: 16px;
      color: #07074d;
      display: inline-block;
      padding: 8px 28px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
    }

    .formbold-file-list {
      border-radius: 6px;
      background: #f5f7fb;
      padding: 16px 32px;
    }

    .formbold-file-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .formbold-file-item button {
      color: #07074d;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    .formbold-file-name {
      font-weight: 500;
      font-size: 16px;
      color: #07074d;
      padding-right: 12px;
    }

    .formbold-progress-bar {
      margin-top: 20px;
      position: relative;
      width: 100%;
      height: 6px;
      border-radius: 8px;
      background: #e2e5ef;
    }

    .formbold-progress {
      position: absolute;
      width: 75%;
      height: 100%;
      left: 0;
      top: 0;
      background: #6a64f1;
      border-radius: 8px;
    }

    img {
      width: 100px;
      height: 100px;
      padding: 20px;
    }

    @media (min-width: 540px) {
      .sm\:w-half {
        width: 50%;
      }
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  {{!-- multiple image preview --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

  <div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">

      <form action="/admin/add-product" method="POST" enctype="multipart/form-data" id="add-product-form">
        <h4 style="text-align: center;">Add new Products</h4>
        <div class="formbold-mb-5">
          <label style="color: #262728;">Name of Product</label>
          <span class="text-danger" id="product-name-error"></span>
          <input type="text" name="product" id="product" placeholder="Enter your Product" class="formbold-form-input" />

          <label style="color: #262728;">Category</label>
          <br>
          <span class="text-danger" id="category-name-error"></span>
          <select name="category" id="category">
            {{#each categorydata}}
            <option value="{{this.category}}">{{this.category}}</option>
            {{/each}}
          </select>
          <br>
          <label style="color: #262728;">Description</label>
          <span class="text-danger" id="description-name-error"></span>
          <input type="text" name="description" id="description" placeholder="description of product"
            class="formbold-form-input" />
          <label style="color: #262728;">Price</label>
          <span class="text-danger" id="price-name-error"></span>
          <input type="number" name="price" id="price" placeholder="Price of Product" class="formbold-form-input" />


          <label style="color: #262728;">Quantity</label>
          <span class="text-danger" id="quantity-name-error"></span>
          <input type="number" name="quantity" id="quantity" placeholder="Price of Product"
            class="formbold-form-input" />
          <label style="color: #262728;">Status</label>
          <select name="status" id="status">
            <option value="">choose....</option>
            <option value="Out of stock">Out of stock</option>
            <option value="Low stock">Low stock</option>
            <option value="published">Published</option>
          </select><br>
          <label style="color: #262728;">Discount</label>
          <span class="text-danger" id="discount-name-error"></span>
          <input type="number" name="discount" id="discount" placeholder="Discount of product"
            class="formbold-form-input" />
          <label for="">Multipple Images</label><br>

          <input name="image" type="file" multiple class="form-control-file" onchange="loadFile(event)">
          <div id="cont"></div>
          <button type="submit">submit</button>
      </form>

    </div>
  </div>
  </div>

  </div>


  </div>
  </div>


</body>

</html>


<script>

  document.getElementById("add-product-form").addEventListener('submit', (e) => {
    var product = document.getElementById("product").value;
    document.getElementById("product-name-error").innerHTML;

    if (product === '') {
      document.getElementById("product-name-error").innerHTML = 'This field is required'
      e.preventDefault()
    }


    var category = document.getElementById("category").value
    document.getElementById("category-name-error").innerHTML;
    if (category === '') {
      document.getElementById("category-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }


    var description = document.getElementById("description").value
    document.getElementById("description-name-error").innerHTML;
    if (description === '') {
      document.getElementById("description-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }


    var price = document.getElementById("price").value
    document.getElementById("price-name-error").innerHTML;
    if (price === '') {
      document.getElementById("price-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }
    else if (price <= 0) {
      document.getElementById("price-name-error").innerHTML = "price should not be negative"
      e.preventDefault()
    }

    var discount = document.getElementById("discount").value
    document.getElementById("discount-name-error").innerHTML;
    if (price === '') {
      document.getElementById("discount-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }

    else if (discount >= price) {
      document.getElementById("discount-name-error").innerHTML = "Discount greaterthan price "
      e.preventDefault()
    }

    var quantity = document.getElementById("quantity").value
    document.getElementById("quantity").innerHTML;
    if (quantity === '') {
      document.getElementById("quantity-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }

    else if (quantity < 0) {
      document.getElementById("quantity-name-error").innerHTML = "quantity lessthan zero "
      e.preventDefault()
    }


    var status = document.getElementById("status").value
    document.getElementById("status-name-error").innerHTML;
    if (status === '') {
      document.getElementById("status-name-error").innerHTML = "This field is required"
      e.preventDefault()
    }


  })



  var loadFile = function (event) {
    var imgCont = document.getElementById("cont");
    for (let i = 0; i < event.target.files.length; i++) {
      var divElm = document.createElement('div');
      divElm.id = "rowdiv" + i;
      var spanElm = document.createElement('span');
      var image = document.createElement('img');
      image.src = URL.createObjectURL(event.target.files[i]);
      image.id = "output" + i;
      image.width = "200";
      spanElm.appendChild(image);
      var deleteImg = document.createElement('p');
      deleteImg.innerHTML = "x";
      deleteImg.onclick = function () { this.parentNode.remove() };
      divElm.appendChild(spanElm);
      divElm.appendChild(deleteImg);
      imgCont.appendChild(divElm);
    }
  };

</script>