<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/landingPage/landingpage.css">
 
  <title>App Store</title>
</head>

<body>

  <!-- Side navigation bar for 
        responsive website -->
  <div class="sideNavigationBar" id="sideNavigationBar">
    <a href="#" class="closeButton" onclick="closeNavbar()">
      ❌
    </a>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Sign Up</a>
  </div>

  <!-- Content -->
  <div class="line" id="Home">
    <div class="side1">
      <h1>App Store</h1>
      <p>
        "Apple products embody the art of innovation, where form seamlessly dances with function. From the sleek design
        to the intuitive user experience, each device is a symphony of technology and aesthetics, creating a harmonious
        blend that elevates the ordinary into the extraordinary."</p>
      <button>
        <a href="#">
          Explore More
        </a>
      </button>
    </div>
    <div class="side2">
      <img src="/images/images.jpeg">
    </div>
  </div>
  {{!-- product card --}}
  <div style="height: auto;" class="py-3 py-md-5 bg-light ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="mb-4">Our Products</h4>
        </div>
        {{#each check}}
        <div class="col-md-3">

          <div style="height: 400px;" class="product-card">

            <div style="height: 60%;" class="product-card-img">
              {{!-- <label class="stock bg-success">In Stock</label> --}}
              <img style="hight 200px; width: 200px;padding: 20px;" src="/images/{{this.image}}" alt="Laptop">
            </div>

            <div class="product-card-body">
              <p class="product-brand">HP</p>
              <h5 class="product-name">
                <a href="">
                  {{this.product}}
                </a>
              </h5>
              <div>
                <span style="color: green;" class="selling-price">off {{this.discount}}</span>
                <strike style="color: red;">{{this.price}}</strike>
              </div>
              <div class="mt-2 btn-container" >
                <a href="/add-to-cart" class="btn btn1">Add to cart</a>
                <a href="/wish-list" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                <a href="/user" class="btn btn1"> View </a>
              </div>
            </div>

          </div>

        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <h3 class="made_by">Made with ♡</h3>

  <!-- Footer section -->
  <footer>
    <div class="footer">
      
    </div>
  </footer>
  <script>
    function openNavbar() {
      document.getElementById("sideNavigationBar")
        .style.width = "50%";
    }
    function closeNavbar() {
      document.getElementById("sideNavigationBar")
        .style.width = "0%";
    }
  </script>
</body>

</html>